*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    margin-bottom: 100px;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 60px;
}

.container{
    max-width: 1187px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.header{
    background-image: url(../images/header-bg.png);
    height: 218px;
    margin-bottom: 46px;
}

.header__line{
    background-color: #528FD5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
}

.language{
    color: #FFFFFF;
    text-decoration: underline;
    padding-right: 5px;
}

.language--active{
    color: #FFE385;
    text-decoration: none;
}

.search-box{
    max-width: 473px;
    width: 100%;
}

.search-input{
    display: block;
    padding: 13px 50px 13px 13px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.search-input::placeholder{
    color: #B9B9B9;
}

.search-box{
    position: relative;
    margin-right: 15px;
}

.search-box::after{
    content: "";
    background-image: url(../images/icons/search.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    right: 13px;
}
.cabinet{
    display: block;
    position: relative;
    padding-left: 30px;
    color: #FFFFFF;
}

.cabinet::before{
    content: "";
    background-image: url(../images/icons/cabinet.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.header__inner{
    display: flex;
    align-items: center;
    position: relative;
    height: 134px;
}

.logo{
    position: absolute;
    top: -72px;
    left: 0;
}

.header__list{
    margin-left: 200px;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.header__list-item--max{
    flex: 1 1 auto;
}

.header__list-item{
    display: flex;
}

.header__item-content{
    padding: 12px 16px;
    background-color: #528FD5;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    cursor: pointer;
    color: #FFFFFF;
}

.header__item-content span{
    margin-left: 12px;
}

.menu-btn{
    margin-right: 80px;
}

.contacts{
    margin-right: 21px;
}

.header__item-content:hover{
    background-color: #FFE385;
    color: #000000;
}

.header__item-content:hover path{
    fill: #000000;
}

.menu-btn:hover rect{
    stroke: #000000;
}

.header__item-content:active{
    background-color: #e2d39f;
}

.basket{
    display: block;
    background-color: #528FD5;
    text-align: center;
    padding: 1px 54px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    transition: all .3s;
}

.basket::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: -13px;
    right: 38px;
    background-color: #FFE385;
    border-radius: 50%;
    width: 76px;
    height: 76px;
    transition: all .3s;
}

.basket:hover{
    background-color: #FFE385;
}

.basket:hover path{
    fill: #FFFFFF;
}


.basket:hover::after{
    background-color: #528FD5;
}

.basket__num{
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    bottom: -7px;
    right: 43px;
    background-color: #000000;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    color: #FFFFFF;
}

.favorit{
    position: relative;
}

.favorit__num{
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    top: 4px;
    right: 7px;
    background-color: #FFE385;
    border: 1px solid #528FD5;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    color: #000000;
}

.banner{
    margin-bottom: 70px;
}

.banner__slider-item{
    max-height: 347px;
    width: 1157px;
}

.banner__slider-img{
    vertical-align: middle;
    width: auto;
    max-width: 100%;
}

.slick-list.draggable{
    border-radius: 15px;
}

.slick-dots{
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-top: 35px;
}

.slick-dots button{
    padding: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #C4C4C4;
    font-size: 0;
    border: none;
}

.slick-dots .slick-active button {
    background-color: #121212;
}

.categories__inner{
    display: flex;
    justify-content: space-between;
}

.categories__item{
    width: 260px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #528FD5;
    border-radius: 15px;
    transition: all .3s;
}

.categories__item:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.categories__item-text{
    max-width: 180px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.categories__item:nth-child(1){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), url(../images/category-1.jpg);
}

.categories__item:nth-child(2){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), url(../images/category-2.jpg);
}

.categories__item:nth-child(3){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), url(../images/category-3.jpg);
}

.categories__item:nth-child(4){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), url(../images/category-4.jpg);
}

.slider {
    margin-right: -50px;
}

.slider__item{
    margin-right: 50px;
}

.product-card{
    padding-top: 45px;
    position: relative;  
}

.product-card:hover{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    transition: all .3s;
}

.discount-box{
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    display: none;
}

.discount{
    display: flex;
}

.discount__amount{
    padding: 3px 5px;
    background-color: #FBCF3A;
    border-radius: 5px;
    margin-left: 7px;
}

.discount__persent{
    padding: 3px 5px;
    color: #FFFFFF;
    background-color: #D70000;
    border-radius: 5px; 
}

.product-card__favorit{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 27px;
    border: none;
    background-color: transparent;
}

.product-card__favorit::after{
    content: "";
    width: 30px;
    height: 27px;
    background-image: url(../images/icons/favorit-card.svg);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.favorit-active.product-card__favorit::after{
    background-image: url(../images/icons/favorit-card-active.svg);
}

.product-card__img{
    display: block;
    margin: 0px auto 30px auto;
}

.product-card__availability{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #04B500;
    margin-bottom: 15px;
}

.product-card__name{
    max-width: 200px;
    margin-bottom: 26px;
}

.product-card__rate-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.product-card__rate{
    max-width: 130px;
}

.jq-ry-group svg{
    width: 20px;
    height: 20px;
}

.product-card__coment{
    padding-left: 50px;
    position: relative;
    font-weight: 500;
    color: #C4C4C4;
    transition: all .3s;
}

.product-card__coment::after{
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/comment.svg);
    position: absolute;
    left: 10px;
    top: -3px;
    transition: all .3s;
}

.product-card__coment:hover{
    color: #000000;
}

.product-card__coment:hover::after{
    background-image: url(../images/icons/comment-black.svg); 
}

.product-card__buy-box{
    display: flex;
    justify-content: space-between;
}

.product-card__old-price{
    color: #C4C4C4;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
}
.product-card__new-price{
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
}
.product-card__buy-link{
    color: #FFFFFF;
    padding: 11px 24px;
    font-weight: 500;
    background-color: #04B500;
    border-radius: 5px;
    border: 1px solid #04B500;
    transition: all .3s;
}

.product-card__buy-link:hover{
    background-color: #fff;
    color: #000000;
}

.product-card__buy-link:active{
    background-color: #04d400;
    color: #FFFFFF;
}

.slider-btn{
    position: absolute;
    top: -95px;
    right: 54px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.slider-btnprev{
    right: 100px;
}

.reviews__inner{
    display: flex;
    justify-content: space-between;
}

.reviews__item{
    max-width: 360px;
}

.reviews__rating-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.reviews__rating-num{
    font-weight: 300;
    font-size: 96px;
    line-height: 112px;
}

.reviews__rate .jq-ry-group svg{
    width: 30px;
    height: 30px;
}

.reviews__rate{
    margin-bottom: 5px;
}

.reviews__num-of-comments{
    color: #C4C4C4;
}

.reviews__create,
.recipes__all{
    display: inline-block;
    padding: 11px 29px;
    font-weight: 500;
    border: 1px solid #000000;
    border-radius: 50px;
    transition: all .3s;
}

.reviews__create:hover,
.recipes__all:hover{
    background-color: #c4c0c0;
}

.reviews__comment-title-box{
    display: flex;
    justify-content: space-between;
}

.reviews__comment-mark.jq-ry-container{
    width: 150px !important;
}

.reviews__comment-name{
    font-weight: 700;
    margin-bottom: 3px; 
}

.reviews__comment-date{
    color: #C4C4C4;
    margin-bottom: 10px;
}

.recipes__all{
    position: absolute;
    top: 0;
    right: 15px;
}

.recipes__inner{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.recipes__item{
    padding: 48px 47px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 360px;
    width: 360px;
    max-width: 33.3%;
    border-radius: 15px;
    color: #FFFFFF;
}

.recipes__item:nth-child(1){
    background-image: url(../images/recipes-1.jpg);
}

.recipes__item:nth-child(2){
    background-image: url(../images/recipes-2.jpg);
}

.recipes__item:nth-child(3){
    background-image: url(../images/recipes-3.jpg);
}

.recipes__item-sub-title{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 3px;
}

.recipes__item-title{
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
}

.recipes__item-link{
    display: inline-block;
    color: #FEFEFE;
    font-weight: 500;
    padding: 11px 21px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    transition: all .3s;
}

.recipes__item-link:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.about__inner{
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.about__card-box{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 38px;
}

.about__card{
    max-width: 260px;
    width: 100%;
    padding: 30px 10px 10px;
    background-color: #ebebec;
    border-radius: 10px;
    transition: all .3s;
    height: 120px;
}

.about__card:hover{
    background-color: #d7d7d8;
}

.about__card-title{
    text-align: center;
    color: #528FD5;
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 7px;
}

.about__card-text{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.about__text-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__text-link{
    padding-top: 22px;
    padding-bottom: 12px;
}

.about__text-link-item{
    color: #FFFFFF;
    font-weight: 500;
    padding: 11px 20px;
    border: 1px solid #528FD5;
    background-color: #528FD5;
    border-radius: 100px;
    transition: all .3s;
}

.about__text-link-item:hover{
    color: #528FD5;
    background-color: #fff;
}

.footer{
    background-color: #333333;
    color: #A0A0A0;
    padding: 90px 0;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.footer__title{
    color: #FFFFFF;
    margin-bottom: 45px;
}

.footer-list li + li{
    margin-top: 10px;
}

.contacts__list-item-link,
.contacts__list-item-span{
    padding-left: 40px;
    position: relative;
}

.contacts__list-item-link::after,
.contacts__list-item-span::after{
    background-repeat: no-repeat;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
}

.link-vodafone::after{
    background-image: url(../images/icons/vodafone.svg);
}

.link-ks::after{
    background-image: url(../images/icons/ks.svg);
}

.link-life::after{
    background-image: url(../images/icons/life.svg);
}

.link-email::after{
    background-image: url(../images/icons/email.svg);
}

.contacts__list-item-span::after{
    background-image: url(../images/icons/address.svg);
}

.schedule__list-item{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.info__list{
    padding-bottom: 45px;
    border-bottom: 1px solid #595959;
    margin-bottom: 40px;
}

.info__social-link + .info__social-link{
    margin-left: 20px;
}

footer li a:hover{
    color: #FFFFFF;
}

footer li a{
    transition: all .3s;
}

.link-vodafone:hover::after{
    background-image: url(../images/icons/vodafone-white.svg);
}

.link-ks:hover::after{
    background-image: url(../images/icons/ks-white.svg);
}

.link-life:hover::after{
    background-image: url(../images/icons/life-white.svg);
}

.link-email:hover::after{
    background-image: url(../images/icons/email-white.svg);
}

.info__social-link:hover path{
    fill: #FFFFFF;
}

/* popup */
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 73, 179, 0.1);
    backdrop-filter: blur(15px);
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .7s;
    z-index: 5;
}

.popup--active{
    opacity: 1;
    visibility: visible;
}

.popup--active .popup__content{
    transform: translateX(0%);
}

.popup__body{
    display: flex;
    justify-content: flex-start;
    min-height: 100%;
}

.popup__content{
    width: 370px;
    background-color: #FFFFFF;
    transform: translateX(-100%);
    transition: all .7s;
    padding: 0 30px;
    position: relative;
}

.close{
    position: absolute;
    top: 30px;
    right: -50px;
    background-image: url(../images/icons/close.svg);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.autorization__link-box{
    height: 80px;
    background-color: #528FD5;
    margin: 0 -30px;
    padding: 30px;
}

.autorization__link{
    color: #FFFFFF;
    padding-left: 30px;
    position: absolute;
}

.autorization__link::after{
    content: "";
    background-image: url(../images/icons/login.svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}

.menu{
    margin-top: 70px;
    margin-bottom: 50px;
}
.menu__box li{
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.menu__box li:hover{
    background-color: rgba(245, 243, 243, 0.7);
}

.menu__item + .menu__item,
.menu__item-drop{
    margin-top: 5px;
}

.menu__item-drop{
    cursor: pointer;
    padding-right: 40px;
}

.menu-catalog__list{
    display: none;
}

.menu-catalog__list li:hover{
    background-color: rgba(245, 243, 243, 0.9);
}

.menu__item-drop::after{
    content: "";
    position: absolute;
    background-image: url(../images/icons/arrow-down.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 12px;
    top: 2px;
    right: 85px;
    transition: all .3s;
}

.menu__item-drop.drop--active::after{
    transform: rotateX(180deg);
}

.menu__item-link,
.menu__item-drop{
    padding-left: 54px;
    position: relative;
}

.menu__item-link::before,
.menu__item-drop::before{
    content: "";
    width: 27px;
    height: 27px;
    position: absolute;
    top: -8px;
    left: 0;
}

.menu-main::before{
    background-image: url(../images/icons/mob-house.svg);
}

.menu-discount::before{
    background-image: url(../images/icons/mob-discount.svg);
}

.menu-catalog::before{
    background-image: url(../images/icons/mob-fish.svg);
}

.menu-delivery::before{
    background-image: url(../images/icons/mob-delivery.svg);
}
.menu-review::before{
    background-image: url(../images/icons/mob-review.svg);
}

.menu-question::before{
    background-image: url(../images/icons/mob-test.svg);
}

.menu-schedule::before{
    background-image: url(../images/icons/mob-schedule.svg);
}

.menu-contacts::before{
    background-image: url(../images/icons/mob-contacts.svg);
}

.menu-about::before{
    background-image: url(../images/icons/mob-info.svg);
}

.menu-catalog__item{
    margin-top: 20px;
    margin-left: 67px;
}

.write{
    display: block;
    padding: 15px;
    text-align: center;
    color: #FFFFFF;
    background-color: #7061EA;
    border-radius: 100px;
    margin-bottom: 23px;
    border: 1px solid #7061EA;
    transition: all .3s;
}

.write:hover{
    color: #7061EA;
    background-color: #FFFFFF;
}

.social-title{
    margin-bottom: 20px;
}

.menu__link-instagram{
    margin-left: 10px;
}

.menu__link-facebook img,
.menu__link-instagram img{
    border-radius: 5px;
    transition: all .3s;
}

.menu__link-facebook img:hover {
    box-shadow: 0px 0px 15px rgba(31, 21, 163, 0.911);
}

.menu__link-instagram img:hover{
    box-shadow: 0px 0px 15px rgba(163, 21, 80, 0.911);
}

.menu__languge-box{
    display: flex;
    margin: 40px -30px 0;
    border-bottom: 1px solid #E2E2E2;;
    border-top: 1px solid #E2E2E2;;
}

.menu__languge{
    width: 50%;
    padding: 10px 17px;
    color: #E2E2E2;
}

.menu__languge:first-child{
    border-right: 1px solid #E2E2E2;;
    text-align: right;
}

.menu__languge--active{
    color: #000000;
}